<head>
    {{>head}}

    <title>Add Products | Saranggola</title>
</head>
<body>
    {{!-- NAVBARS START --}}
    <div id='navlog'>
        {{>navlog}}
    </div>
    <div id='navadmin'>
        {{>navadmin}}
    </div>
    <div id='nav'>
        {{>nav}}
    </div>
    {{!-- NAVBARS END --}}
    <div class="container-fluid">
        <div class="row">text</div>
        <div class="row">text</div>
    </div>
    <div class="container" style="width: 85%">
        <br>
        <div class="row" style="padding: 0% 3%">
            <h3>{{header}}</h3>
        </div>
        <br>

        <div class="row">
            {{#each productList}}
            <div class="col-3">
                <div class="card text-center">
                    <a href="../books/{{{productID}}}"style = " color: black">
                    <img class="card-img-top" src="{{{photo}}}" height="200px" width="180px" alt="Card image cap">
                    </a>
                    <div class="card-body">
                    <a href="../books/{{{productID}}}"style = " color: black">
                        <p class="card-text"><b>{{productName}}</b></p>
                        <p classes="card-text">{{seller}}</p>
                        <p classes="card-text">Php {{price}}</p>
                    </a>
                    
                    <button type="button" id="{{{productID}}}" onclick="addBookToCart(this.id)" class="btn btn-primary addTCBtn">Add to Cart</button>
                    
                    </div>
                </div>
            </div>
            {{/each}}
            
        </div>
    </div>
</body>